.centered{
	width: 100%;
	padding: 15px 50px;
	margin:0;
}
.link{
	text-decoration: none;
	color:white;
}
ul{
	margin: 0;
}
a:hover{
	text-decoration: none;
}
/*..................HEADER.........................*/
.first_div{
	background-color: #2c3942;
}
.first_list{
	padding: 10px 50px;
}
.second_div{
	background: rgb(64,104,132);
	background: linear-gradient(90deg, rgba(64,104,132,1) 0%, rgba(59,82,97,1) 50%, rgba(56,70,79,1) 100%);
}
form.search input[type=text] {
  width: 310px;
  border:1px solid transparent;
}
form.search button{
	background: #2196F3;
	color: white;
	border: 1px solid #2196F3;
	cursor: pointer;
}
.third_div{
	background-color: #38464f;

}
.menu_link{
	font-size: 12px;
}
.menu_link > i{
	font-size: 16px;
}
.shop_icon{
	background-color: #fb816a;
	padding: 5px 10px;
	color: white;
	border-radius: 5px;
}
.menu_list{
	padding: 5px 50px;
}
.menu_list_link{
	padding: 8px 0;
}
.menu_list_link:hover{
	color: white;
	border-bottom: 4px solid #379aff;
}
.text_div > p{
	margin: 0;
	color:#666666;
}
.icons{
	font-size: 30px;
	color: #2ca5fa;
}
.small_text{
	font-size: 13px;
}
/*............. MAIN ..................*/
.main_body{
	background-color: #e0e0e0;
	padding: 10px 48px;
}
.white_space{
	height: 350px;
	background-color: white;
}
.category_div{
	margin:10px 0;
}
.category{
	text-align: center;
	padding:7px 10px;
	font-size: 14px;
	color: #171717;
	cursor: pointer;
	border: 1px solid #ebebeb;
}
.category:hover{
	border-top: 2px solid #38464f;
}
.category_active{
	border-top: 2px solid #38464f;
}
.carousel-control-prev-icon:before{
	content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #2ca5fa;
    border-top: 20px solid transparent;
    z-index: -1;
    clear: both;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
	position: relative;
}
.carousel-control-next-icon:after{
	content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #2ca5fa;
    border-top: 20px solid transparent;
    z-index: -1;
    clear: both;
}
.carusel2{
	margin: 25px 3px;
	border-top: 4px solid #2ca5fa;
}
.red-icon:after{
	border-left: 20px solid #fb816a;
}
.red-icon:before{
	 border-right: 20px solid #fb816a;
}
.carousel-control-prev{
	width: 5%;
	left: -39px;
}
.carousel-control-next{
	width: 5%;
	right: -37px;
}